*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
root{
    --main-color: #FFF1D5;
    --text-color : #9FB3DF;
    --acent-color : #BDDDE4;
    --secndary-color: #9EC6F3;

}
body{
    background-color:#FFF1D5;
}
/* nav */
nav{
    width: 100%;
    height: 10vh;
    /* background-color: var(--text-color); */
    background-color:#FFF1D5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    width: 30%;
        display: flex;
    justify-content: space-between;
    padding: 1vw;
    align-items: center;
  color: #78afef;
}
nav ul{
    width: 35%;
        display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul li{
 list-style: none;
  color: #78afef;
     font-weight: bold;
     font-size: 1.35vw;
     cursor: pointer;
}
/* nav */
/* hero section */
.hero{
    width: 100%;
    height: 90vh;

    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;

}
.hero .textBox{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hero .textBox h2{
  font-size: 5vw;
    color: #9EC6F3;
}
/* .hero .textBox p{
  font-size: 1.5vw;
  text-align: center;
  color: #BDDDE4;
width: 90%;
} */



/* hero section */

/* Events */
.Events{
   
    width: 100%;
    height: 60vh;
    /* background-color: rgb(103, 103, 239); */


}

.Events h2{
      width: 100%;
   height: 20%;
 padding: 1vw;
 text-align: center;
 font-size: 3vw;
 color: #78afef;
}
.Events .Boximages{
   width: 100%;
   height: 80%;
   /* border: 2px solid #000; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.Events .Boximages .boximage{
   width: 23%;
   height: 95%;
   /* border: 2px solid #000; */
       position: relative;
           transition: 1s;
           border-radius: 25px;
           cursor: pointer;

    }
    .Events .Boximages .boximage .overlay{
   width: 100%;
   height: 100%;
 background-color: hsl(212, 79%, 70%,.6);
    position: absolute;
    z-index: 1;
    opacity:0;
    transition: .5s;
         border-radius: 25px;
         display: flex;
         justify-content: center;
         align-items: center;
         
}
    .Events .Boximages .boximage .overlay h2{
color: #FFF1D5;
         
}
.Events .Boximages .boximage:hover .overlay{
  opacity:1;

    }
   .Events .Boximages .boximage img{
   width: 100%;
   height: 100%;
     border-radius: 25px;
    position: absolute;
    z-index: 0;
    
}
/* Events */
/* testimonial */
.testimonial{
     
    width: 100%;
    height: 60vh;
}
/* testimonial */
.testimonial{
    width: 100%;
    padding: 40px 0;
    background: #FFF1D5;
    text-align: center;
}

.testimonial h2{
    font-size: 32px;
    margin-bottom: 30px;
    color: #78afef;
}

.testi-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.testi-box{
    width: 30%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0000001a;
    transition: .3s;
}

.testi-box p{
    font-size: 18px;
    margin-bottom: 10px;
}

.testi-box:hover{
    transform: translateY(-10px);
}
/* testimonial */
/* footer */
footer{
    width: 100%;
    background: #78afef;
    color: #fff;
    padding: 40px 0 20px 0;
}

.footer-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-box{
    width: 30%;
}

.footer-box h2{
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-box h3{
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-box p{
    margin: 5px 0;
    line-height: 1.6;
}

.footer-box ul{
    list-style: none;
    padding: 0;
}

.footer-box ul li{
    margin-bottom: 8px;
}

.footer-box ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-box ul li a:hover{
    color: #fff;
}

.social a{
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    color: #ddd;
    transition: 0.3s;
}

.social a:hover{
    color: #fff;
}

.footer-bottom{
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #fff;
    padding-top: 15px;
}

.footer-bottom p{
    font-size: 14px;
    color: #fff;
}

/* footer */

/* ===================== */
/*    MOBILE RESPONSIVE  */
/* ===================== */

@media (max-width: 768px) {

    /* ===== Navbar ===== */
    nav {
        height: auto;
        flex-direction: column;
        padding: 15px 0;
        gap: 10px;
    }

    nav h1 {
        width: 100%;
        text-align: center;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    nav ul li {
        font-size: 4vw;
    }


    /* ===== Hero ===== */
    .hero {
        height: 50vh;
    }

    .hero .textBox h2 {
        font-size: 7vw;
        text-align: center;
        padding: 0 20px;
    }


    /* ===== Events Section ===== */
    .Events {
        height: auto;
        padding-bottom: 40px;
    }

    .Events h2 {
        font-size: 6vw;
    }

    .Events .Boximages {
        flex-direction: column;
        gap: 20px;
        height: auto;
        padding: 20px 0;
    }

    .Events .Boximages .boximage {
        width: 90%;
        height: 200px;
    }


    /* ===== Testimonial ===== */
    .testimonial {
        height: auto;
        padding-bottom: 50px;
    }

    .testi-container {
        flex-direction: column;
        align-items: center;
    }

    .testi-box {
        width: 90%;
    }

    .testimonial h2 {
        font-size: 6vw;
    }


    /* ===== Footer ===== */
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-box {
        width: 100%;
    }

    .social {
        justify-content: center;
        display: flex;
    }

    .social a {
        margin: 0 8px;
    }
}

